.wrapper {
    max-width: 1320px;
    margin: 0 auto;
}


.btn-light:hover {
    color: #f8f9fa;
    background-color: #0d6efd;
    border-color: #f8f9fa;
}

@media (min-width: 992px) {
    .clip {
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
        transition: clip-path 0.5s ease-in-out;
    }

    .clip:hover {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }


}